
        body {
            text-align: center
        }

        .field1 {
            background-color: #ffff;
            width: 270mm;
            margin: 0 auto;
            border-style: solid;
            border-color: gray;
        }

        .tt1 {
            background-color: orange;
            width: 26em;
            margin: 0 auto;
            border-radius: 1em;
        }

        #t_doc {
            height: 12em;
        }

        #tt1 {
            background-color: orange;
            width: 26em;
            height: 17em;
            margin: 0 auto;
            border-radius: 1em;
        }

        textarea {
            width: 23em;
            height: 11em;
            resize: none;
        }

        div.tz {
            text-align: left;
            border-style: solid none solid;
            border-color: gray;
        }

        div.tz:hover {
            background-color: #fffff0;
        }

        div.tzs {
            text-align: left;
            border-style: solid none solid;
            border-color: gray;
            background-color: white;
        }

        div.tzs:hover {
            background-color: #fffff0;
        }

        span.extra {
            display: inline-block;
            width: 5ch;
            height: 25px;
            background-color: blue;
            color: white;
            border-radius: 4px;
            text-align: center;
        }

        #profile {
            width: 4ch;
            height: 4ch;
            border-radius: 3ch;
        }

        div.center {
            border-radius: 3ch;
        }

        a:link {
            color: #000000
        }

        a:visited {
            color: #000000
        }

        a:hover {
            color: #000000
        }